/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.ok{
  fill:'green'
}

.warning{
  fill:'orange'
}

.err{
  fill:'red'
}

.d3-gauge .outer-circle {
  fill         :  #ccc;
  stroke       :  #000;
  stroke-width :  0.5px;
}

.d3-gauge .inner-circle {
  fill         :  #fff;
  stroke       :  #E0E0E0;
  stroke-width :  2px;
}

.d3-gauge .label {
  fill      :  #555;
  font-family: Tahoma;
  font-weight: bold;
}


.d3-gauge .major-tick {
  stroke       :  #333;
  stroke-width :  2px;
}

.d3-gauge .minor-tick {
  stroke       :  #666;
  stroke-width :  1px;
}

.d3-gauge .major-tick-label {
  fill         :  darkblue;
  stroke-width :  2px;
  font-size    :  15px;
}

.d3-gauge .needle-center {
  fill         :  #2d2d2d;
  /*stroke       :  #c63310;*/
}

.d3-gauge .needle {
  fill         :  #2d2d2d;
  /*stroke       :  #c63310;*/
}

.d3-gauge .needle-container {
  fill         :  #4684EE;
  stroke       :  #666;
  fill-opacity :  1;
}

.d3-gauge .current-value {
  fill         :  #000;
  stroke-width :  0px;
}

.d3-gauge .band-background{
  fill: #dadada
}

.d3-gauge .green-zone {
  fill :  #74c974
}

.d3-gauge .yellow-zone {
  fill :  #FF9900
}

.d3-gauge .red-zone {
  fill :  #DC3912
}

.gauge-container{

}

.equipment{
  float: left; position: relative;

}

.error{
  position:absolute;  top:55px; left:75px; z-index: 10
}

.highlight{
  opacity:0
}
